<div class="container">
  <%= gravatar_for @user %>
  <%=@user.name%>
  <%=@user.email%>
  <ul>
    <% @user.links.each do |link|%>
    <li>Original link: <%= link.long_url %></li>
    <li>Shortened link: <%= link.display_short_url %></li>
    <li>Clicks: <%= link.clicks %></li>
    <%end%>
  </ul>
</div>