<div class="container">
<ul>
<li>Original Link: <%= @link.long_url %></li>
<li>Shortened Link: <%= link_to @link.display_short_url, @link.display_short_url, target: "_blank" %></li>
<li>No of times visited: <%= @link.clicks %></li>
<li><span class="time"><%= time_ago_in_words(@link.created_at) %> ago</span></li>
<li>Number of times visited <%= @link.analytic.visits %></li>
<% @link.analytic.unique_visitors.each do |visitor|%>
<li><%= visitor.browser %>
<%= visitor.platform %>
<%= visitor.browser_version %></li
<%= visitor.visitor_ip%></li>
<% end %>
<li> <%= link_to 'Back', root_path %></li>
</ul>
</div>
